In [19]:
from pregnosis_tool import c_index

In [9]:
class Pregnosis:
    def __init__(self):
        pass

    def preprocessing(self, df, return_df = False):
        categorical = df.select_dtypes("object")
        numerical = df.select_dtypes(exclude=["object"])
        print(f"Rows Number: {df.shape[0]}")
        print(f"Columns Number: {df.shape[1]} \n")
        print(f"Variables List: \n{list(df.columns)}\n")
        print(f"--Categorical--: \n{list(categorical.columns)} \n")
        print(f"--Numerical--: \n{list(numerical.columns)} \n")
        print(f"Number of NaN: \n{df.isnull().sum()}\n")
        print(f"Data types: \n{df.dtypes}")
        if return_df == True:
            return categorical, numerical
        
    def missing(self, df):
        import seaborn as sns
        #frac_missing = df.isnull().sum()/len(df)
        percent_missing = df.isnull().sum()*100/len(df)
        return percent_missing.sort_values(ascending=False), sns.heatmap(df.isnull(), cbar=False)
    
    
    def mean_imputer(self, df):
        '''This func takes dataset with missing values, 
            and impute them with mean values'''
        from sklearn.impute import SimpleImputer
        mean_imputer = SimpleImputer(missing_values=np.NaN, strategy='mean')
        imputed_df = mean_imputer.fit_transform(df)
        return imputed_df    

    def regression_imputer(self, df):
        '''This func takes dataset with missing values, 
            and impute them with regression values'''
        from sklearn.experimental import enable_iterative_imputer
        from sklearn.impute import IterativeImputer
        reg_imputer = IterativeImputer()
        imputed_df = reg_imputer.fit_transform(df)
        return imputed_df
    
    def logistic_classification(self, df, targe_variable):
        '''This func split data into train and test, then train into train and valid
            to cross-validate with grid-search and return the algorithm?'''
        from sklean.linear_model import LogisticRegression
        from sklearn.pipeline import Pipeline
        from sklearn.model_selection import GridSearchCV
        
        y = df.pop(target_variable).values
        X = df.values
        
        classifier = LogisticRegression(max_iter=10000, tol=0.1)
        params_grid = {'logistic_C': np.logspace(-4,4,4)}
        search = GridSearchCV(classifier, params_grid, njobs=-1)
        search.fit(X, y)
        print("Best parameter (CV score=%0.3f):"%search.best_score_)
        print(search.best_params_)

In [22]:
cat = Animal()

In [27]:
repr(str)

"<class 'str'>"

In [130]:
%history -g -f notebook_file.py

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"People":["John", "Mirrar","Sarr","He", "Mosso", "Kota", "Kin", "Wellily"], "Age": [22,45,12,33,73,12,55,41]})

In [2]:
df2 = pd.read_csv("C:/users/daisu/OneDrive/Desktop/titanic/train.csv")

In [3]:
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
from pregnosis_tool import preprocessing

preprocessing(df2)

TypeError: preprocessing() missing 1 required positional argument: 'df'

In [146]:
def preprocessing(df):
    
    categorical = list(df.select_dtypes("object").columns)
    numerical = list(df.select_dtypes(exclude=["object"]).columns)
    print(f"Rows Number: {df.shape[0]}")
    print(f"Columns Number: {df.shape[1]} \n")
    print(f"Variables List: \n{list(df.columns)}\n")
    print(f"Categorical: \n{categorical} \n")
    print(f"Numerical: \n{numerical} \n")
    print(f"Number of NaN: \n{df.isnull().sum()}\n")
    print(f"Data types: \n{df.dtypes}")

In [126]:
%load_ext Cython

In [144]:
%timeit py_fib2(100)

4.67 µs ± 291 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)